<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lab 1 Page</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ng/styles.css">
</head>
<body class="container ng-cloak" data-ng-app>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies (NG)</a>
            </div>
        </div>
    </nav>

    <div class="row" data-ng-controller="MoviesController">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Released</th>
                        <th>Length</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="movie in movies">
                        <td>{{movie.title}}</td>
                        <td>{{movie.released}}</td>
                        <td>{{movie.length}}</td>
                        <td><button data-ng-click="increaseLength(movie)" class="btn btn-default">+</button></td>
                        <td><button data-ng-click="decreaseLength(movie)" class="btn btn-default">-</button></td>
</tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="scripts/Lab1Controller.js" ></script>
</body>
</html>
