<!--<pre>
{{ movieEdit | allJson}}
</pre>-->

<form name="movieEdit" data-ng-show="editableMovie">

    <div data-ng-show="movieEdit.$invalid">Currently invalid</div>

    <input type="text" required="" data-ng-model="editableMovie.title" />
    <input type="number" required="" data-ng-model="editableMovie.year" />
    <input type="number" data-ng-model="editableMovie.rating" />
    <button class="btn btn-default" data-ng-disabled="movieEdit.$invalid" data-ng-click="save(editableMovie)">Save</button>
    <button class="btn btn-default" data-ng-click="cancelEdit()">Cancel</button>

</form>